<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banknote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.banknote.view.Welcome_screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.banknote.view.Login_screen"
            android:label="@string/title_activity_login_screen"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.banknote.view.Register_screen"
            android:label="@string/title_activity_register_screen"
            android:parentActivityName="com.example.banknote.view.Welcome_screen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.banknote.Welcome_screen" />
        </activity>
        <activity
            android:name="com.example.banknote.view.LoginSuccess"
            android:label="@string/title_activity_login_success"
            android:parentActivityName="com.example.banknote.view.Login_screen" >
        </activity>
        <activity
            android:name="com.example.banknote.view.Fin_Account_Reg"
            android:label="@string/title_activity_fin__account__reg" >
        </activity>
        <activity
            android:name="com.example.banknote.view.Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.example.banknote.view.AddFinAccount"
            android:label="@string/title_activity_add_fin_account" >
        </activity>
        <activity
            android:name="com.example.banknote.view.AddTransScreen"
            android:label="@string/title_activity_add_trans_screen" >
        </activity>
        <activity
            android:name="com.example.banknote.view.FinancialAccountMain"
            android:label="@string/title_activity_financial_account_main" >
        </activity>
    </application>

</manifest>
